html, body { color: #404040; }
body { padding-top: 20px; padding-bottom: 20px; }
a, a:focus, a:hover { color: #22a3ff; cursor: pointer; }
.pacifico { font-family: 'Pacifico', cursive; color: #22a3ff !important; text-shadow: 0 .03em .03em rgba(0, 0, 0, .2); letter-spacing: .02em; }

.header, .footer { padding-right: 15px; padding-left: 15px; }
@media (min-width: 768px) {
	.header, .footer { padding-right: 0; padding-left: 0; }
	.container { max-width: 730px !important; }
}

/* Header */
.header { padding-bottom: 15px; margin-bottom: 20px; border-bottom: 1px solid #e5e5e5; }
.header h3 { margin-top: 0; margin-bottom: 0; line-height: 40px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 45px; margin-bottom: -5px; }

/* Jumbotron */
.jumbotron { text-align: center; box-shadow: 0 1px 2px #ddd; border-radius: 0; padding-bottom: 20px;
	background: -webkit-linear-gradient(#fefefe, #fafafa);
	background:    -moz-linear-gradient(#fefefe, #fafafa);
	background:     -ms-linear-gradient(#fefefe, #fafafa);
	background:      -o-linear-gradient(#fefefe, #fafafa);
	background:         linear-gradient(#fefefe, #fafafa); }
.jumbotron h1 { margin: 0; margin-bottom: 30px; }
.jumbotron ul { margin: 25px 0; }
.jumbotron .jumbotron-selector.selector.multiple .selector-values>li { border-color: #3079ed; background: #4d90fe; text-shadow: 0 1px 1px rgba(0, 0, 0, .2); 
	box-shadow: inset 0 -.7em .2em rgba(0, 0, 0, .02), 0 .05em .05em rgba(0, 0, 0, .2); }

/* Articles */
article { margin-bottom: 60px; }
article h2 { font-size: 24px; margin-bottom: 30px; }

/* Features */
.features h4 { font-size: 17px; margin-bottom: 5px; }
.features li { -webkit-font-smoothing: antialiased; }

/* Examples */
.examples section { margin: 30px 0; }
.examples .navbar { border-radius: 0; border-bottom: 1px solid #ccc; min-height: inherit; margin-bottom: 5px; }
.examples .navbar .nav-pills { margin: 0; }
.examples .navbar .nav-pills>li>a { padding: 7px 9px 6px; font-size: 11px; text-transform: uppercase; margin: 0 1px; letter-spacing: .03em; }
.examples .navbar .nav-pills>li.active>a { background: #4d90fe; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0 -.7em .2em rgba(0, 0, 0, .02), inset 0 .05em .05em rgba(255, 255, 255, .5); }
.examples .tab-content { padding: 20px; -webkit-font-smoothing: antialiased; }
.examples .example .selector li { -webkit-font-smoothing: auto; }
.examples .example .selector li a { color: #a7def8; }
.examples .example .checkbox-inline { font-weight: bold; margin-bottom: 10px; }
.examples pre { padding: 15px; font-size: 12px; box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
	background: -webkit-linear-gradient(#fafafa, #f5f5f5);
	background:    -moz-linear-gradient(#fafafa, #f5f5f5);
	background:     -ms-linear-gradient(#fafafa, #f5f5f5);
	background:      -o-linear-gradient(#fafafa, #f5f5f5);
	background:         linear-gradient(#fafafa, #f5f5f5); }

/* Footer */
.footer { border-top: 1px solid #e5e5e5; }
.footer .pull-right { margin-top: 15px; }

/* GitHub buttons fallback style */
.jumbotron .list-inline > li { vertical-align: top; }
.github-button { padding: 0 10px; height: 28px; line-height: 26px; text-shadow: 0 1px 0 rgba(255, 255, 255, .9); color: #333; margin-bottom: 5px;
	border: 1px solid #d5d5d5; border-radius: 3px; display: inline-block; font-weight: 700; font-size: 13px; vertical-align: top; background: #fff; background-color: #eee;
	background: -webkit-linear-gradient(#fcfcfc, #eee);
	background:    -moz-linear-gradient(#fcfcfc, #eee);
	background:     -ms-linear-gradient(#fcfcfc, #eee);
	background:      -o-linear-gradient(#fcfcfc, #eee);
	background:         linear-gradient(#fcfcfc, #eee); }